@model PosShared.Models.ItemVariation

<h2>Delete Variation</h2>

<div>
    <form asp-action="DeleteVariation">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href=$"/Items/{@Model.ItemId}/" class="btn btn-secondary">Cancel</a>
    </form>
</div>
