@model PosShared.DTOs.VariationsDTO

<h2>Edit Item</h2>
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}
<form asp-action="EditVariation" method="post">

    <!-- Hidden fields for Id and ItemId -->
    <input asp-for="Id" type="hidden" />
    <input asp-for="ItemId" type="hidden" />

    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AdditionalPrice"></label>
        <input asp-for="AdditionalPrice" class="form-control" step="0.01" />
        <span asp-validation-for="AdditionalPrice" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>

<a asp-action="Variations" asp-route-itemId="@Model.ItemId" class="btn btn-secondary">Back to List</a>
