@model PosShared.Models.Business

<h1>Create New Business</h1>
<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="VATCode"></label>
        <input asp-for="VATCode" class="form-control" />
        <span asp-validation-for="VATCode" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Type">Type</label>
        <select asp-for="Type" class="form-control">
            @foreach (var type in Enum.GetValues(typeof(PosShared.Models.BusinessType)))
            {
                <option value="@type">@type</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
    </form>
