@model PosShared.Models.Business

<h2>Delete Business</h2>

<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="/Business/Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>
