@using PosShared.Models
@model PosShared.DTOs.CreateUserDTO
@using PosClient.Services
@inject IUserSessionService UserSessionService

@{
    var userRole = UserSessionService.GetCurrentUserRole()?.ToString();
}

<h2>Create User</h2>

<div>
    @if (Model != null)
    {
        <form asp-action="Create" method="post">

        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Username" class="control-label"></label>
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="control-label">Password</label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        @if (userRole == "SuperAdmin")
        {
            <div class="form-group">
                <label asp-for="BusinessId" class="control-label"></label>
                <input asp-for="BusinessId" class="form-control" />
                <span asp-validation-for="BusinessId" class="text-danger"></span>
            </div>
        }
        else
        {
            <input asp-for="BusinessId" type="hidden" value="1" />
        }

        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" placeholder="Enter your email" type="email" required />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Phone" class="control-label"></label>
            <input asp-for="Phone" class="form-control"/>
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Address" class="control-label"></label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Role" class="control-label"></label>
            <select asp-for="Role" class="form-control" asp-items="Html.GetEnumSelectList<UserRole>()"></select>
            <span asp-validation-for="Role" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="EmploymentStatus" class="control-label"></label>
            <select asp-for="EmploymentStatus" class="form-control" asp-items="Html.GetEnumSelectList<EmploymentStatus>()"></select>
            <span asp-validation-for="EmploymentStatus" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
    }
    else
    {
        <p>Error: Model is null.</p>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
